* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: gray;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Menu */
nav {
    background-color: black;

}

nav li {
    display: inline-block;
}

nav li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 25px 45px;
    font-size: 20px;
    animation: lightSpeedInLeft;
    animation-duration: 2s;
}

nav li a:hover {
    background-color: #682b03;
    transition: 1.5s;
    border-radius: 20px;
}

.introducao {
    display: inline-block;
    position: relative;
    width: 1920px;
    height: 800px;
}

/* Introdução */
.introducao h1 {
    font-size: 100px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 20%;
    left: 10%;
    animation: fadeInLeft;
    animation-duration: 1.5s;
}

.introducao p {
    font-size: 30px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 43%;
    left: 10%;
    max-width: 1100px;
    animation: fadeInRight;
    animation-duration: 1.5s;
}

#imgfundo {
    background-size: cover;
    background-position: center;
    filter: brightness(0.4);
}

#imgfundoSection {
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
    margin: 0;
    padding: 0;
    border: 0;
}

/* MODELO 1 */
.modelo-1 {
    display: inline-block;
    position: relative;
}

.titulo-cafés {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Platypi", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 25%;
    left: 12%;

}

.imagens-ilustrativas-1 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    position: absolute;
    top: 38%;
    left: 12%;
    border-radius: 50px;
}

.modelo-1 p {
    font-size: 30px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 40%;
    left: 48%;
    max-width: 700px;

}

/* MODELO 2 */
.modelo-2 {
    display: inline-block;
    position: relative;
}

.titulo-cafés-2 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: "Platypi", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 25%;
    left: 60%;
}

.imagens-ilustrativas-2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    position: absolute;
    top: 38%;
    left: 60%;
    border-radius: 50px;
}

.modelo-2 p {
    font-size: 30px;
    color: white;
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 39%;
    left: 10%;
    max-width: 800px;
}

span {
    color: rgb(255, 182, 133);
    font: italic bold 30px/30px "Platypi", serif;
}

footer {
    margin: 200px;
    text-align: center;
    padding: auto;
    background-color: gray;
}

footer li {
    color: white;
    display: inline-block;
    padding: 15px 44px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

footer a {
    padding: 30px;
}

/* Instagram */
.botao-instagram {
    font-size: 20px;
    padding: 52px 53px;
    text-align: center;
    background-image: url(/guiDev/src/image/Logo-Instagram-Preto.png);
    background-color: transparent;
    border: 0px;
}

.botao-instagram:hover {
    background-image: url(/guiDev/src/image/Logo-Instagram-color.png);
    padding: 52px 53px;
    transition: 1.5s;
}

/* Facebook */
.botao-Facebook {
    background-image: url(/guiDev/src/image/Logo-Facebook-Preto.png);
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    padding: 52px 53px;
}

.botao-Facebook:hover {
    background-image: url(/guiDev/src/image/Logo-Facebook-Color.png);
    padding: 52px 53px;
    transition: 2s;
}

/* WhatsApp */
.botao-WhatsApp {
    background-image: url(/guiDev/src/image/Logo-WhatsApp-Preto.png);
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    padding: 52px 53px;
}

.botao-WhatsApp:hover {
    background-image: url(/guiDev/src/image/Logo-WhatsApp-Color.png);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 52px 53px;
    transition: 1.5s;
}

/* Linkedlin */
.botao-Linkedlin {
    background-image: url(/guiDev/src/image/Logo-Linkedlin-Preto.png);
    background-color: transparent;
    border: 0px;
    font-size: 20px;
    padding: 52px 53px;
}

.botao-Linkedlin:hover {
    background-image: url(/guiDev/src/image/Logo-Linkdlin-Color.png);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 52px 53px;
    transition: 1.5s;
}